<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../images/slide1.png" alt="Halwajaat" class="d-block w-100">
      </div>
      <div class="carousel-item">
          <img src="../images/slide2.png" alt="Chocolate Cookies" class="d-block w-100">
      </div>
      <div class="carousel-item">
          <img src="../images/slide3.png" alt="Dry Fruits" class="d-block w-100">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
  </button>
</div>

   <!-- Category Navigation -->
<nav class="category-nav">
    <div class="container">
        <ul class="nav overflow-auto">
            <% for (let i = 0; i < category.length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link <%= i === 0 ? 'active' : '' %>" href="#"><%= category[i].categoryName %></a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="product-grid">
        <div class="row">
            <% for(let i = 0; i < product.length; i++) { %>
                <div class="col-6 col-md-3">
                    <div class="product-card">
                        <div class="product-image-wrapper">
                            <img src="<%= product[i].picture %>" alt="<%= product[i].name %>" class="product-image">
                            <span class="unit-badge"><%= product[i].quantity %></span>
                        </div>
                        <h3 class="product-title"><%= product[i].name %></h3>
                        <div class="product-price">PKR <%= product[i].price.toFixed(2) %></div>
                        <button class="add-btn">Add</button>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>


